/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

/* Styles de Titres */
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

/* Styles de Police */
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.w3-serif { font-family: serif; }
.w3-sans-serif { font-family: sans-serif; }
.w3-cursive { font-family: cursive; }
.w3-monospace { font-family: monospace; }
.w3-wide { letter-spacing: 4px; }

/* Styles de Séparation */
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

/* Styles d'Images */
.w3-image, img {
    max-width: 100%;
    height: auto;
}

/* Styles de Liens */
a {
    color: inherit;
}